---
permalink: "/"
---

<header>
  <picture>
   <source srcset="/img/photo.webp">
   <img src="/img/photo.jpg" alt="Anton Ratnikov photo">
  </picture>
  {% include 'nav.njk' %}
</header>

<main>
  <h1>Hi, my name is Anton Ratnikov</h1>

  <p>
    I am a Software Engineer.
    My specialization is front-end and team leadership. <a href="/projects/">Projects</a>
  </p>

  <p>Like to work with people. It helps me and them to become better engineers. <a href="/community/">Community</a></p>

  <p>
    For my day to day work, I mostly use Typescript.
    I started my way {{ expYears }} years ago, since that time I always stay hungry for technologies and best practices.
    Like to use no-code solutions for day to day routine and it makes my life easier.
    I’m a fast learner, able to pick up new skills, projects, and roles.
    <a href="/skills/">Skills</a>
  </p>


  <p>
  </p>

</main>
