---
permalink: "/"
---

<header>
  <picture>
   <source srcset="/img/photo.webp">
   <img src="/img/photo.jpg" alt="Photo of my face">
  </picture>
  {% include 'nav.njk' %}
</header>

<main>
  <h1>Hello, my name is Anton Ratnikov</h1>

  <p>
    I am a software engineer. My specialization is a front end and team leadership. <a href="/projects/">Projects</a>
  </p>

  <p>
    I like to work with people. It helps me and them become better engineers.
  </p>

  <p>
    I have been staying hungry for technologies and best practices since I started my career {{ expYears }} years ago.
    In my day-to-day work I mostly use Typescript.
    I like to use no-code solutions to perform routine tasks, which makes my life easier.
    I am a fast learner, able to pick up new skills, projects, and roles. 
    <a href="/skills/">Skills</a>
  </p>

</main>
